{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "atom": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "global-require": 0,
    "max-len": 0
  },
  "settings": {
    "import/core-modules": [
      "atom"
    ]
  }
}
