[project]
	description = FTP/FTPS/SFTP client for Atom.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tamás András Horváth (icetee)
[access "refs/for/refs/*"]
	read = group user/Tamás András Horváth (icetee)
	push = group user/Tamás András Horváth (icetee)
	label-Code-Review = -2..+2 group user/Tamás András Horváth (icetee)
	label-Verified = -1..+1 group user/Tamás András Horváth (icetee)
	rebase = group user/Tamás András Horváth (icetee)
	removeReviewer = group user/Tamás András Horváth (icetee)
	submit = group user/Tamás András Horváth (icetee)
[access "refs/heads/*"]
	read = group user/Tamás András Horváth (icetee)
	create = group user/Tamás András Horváth (icetee)
	push = +force group user/Tamás András Horváth (icetee)
	pushMerge = group user/Tamás András Horváth (icetee)
[access "refs/tags/*"]
	push = group user/Tamás András Horváth (icetee)
	push = +force group user/Tamás András Horváth (icetee)
